.float-animation {
    animation: my-float 2s ease-in-out infinite;
}

@keyframes my-float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}